.container{
  max-width: 750px;
  margin: 10px auto;
}

ul.container > li{
color: lightgreen;
}

.container h1 + h2{
  color: lightgreen;
}

.navbar{
  background-color: hotpink;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
}

.navbar > ul > li{
  display: inline;
  margin: 5px;
  position: relative;
}

.navbar .dropdown{
  position: absolute;
  top: 17px;
  right: 0;
  display:none;
}

.navbar a:hover + .dropdown,
.navbar .dropdown:hover{
  display:block;
}


.header{
margin: 50px;
padding: 50px;
background-color: white;
}

.content{
  width: 500px;
  border: 5px dotted hotpink;
  padding: 55px;
  margin: auto;
  background-color: lightgreen;
}

.footer{
  background-color: darkgrey;
}

body{
  background-color: lightgrey;
  text-align: center;
  margin: 0;
}

h1{
  color:hotpink;
}
h3{
  font-family:sans-serif;background-color: lightgreen;
}
.BrightWhite{
  color:white;
  background-color: lightgreen;
}

#subheader{
  font-style: italic;
  font-weight: 1000;
}

#espanol{
  background-color: lightpink;
}

#espanol > li:first-child{
  background-color: violet;
}

#espanol > li:last-child{
  background-color: white;
}

#espanol > li:nth-child(2){
  color: cyan;
}

#espanol > li:nth-child(2n+1){
  background-color: lightgrey;
}

#espanol  li:hover{
  background-color: purple;
}

.navbar  li:hover{
  background-color: lightgreen;
}

label{
  color: hotpink;
}

input[type='text']{
  background-color: pink;
}

#output{
  color: mediumseagreen;
  font-size: 75px;
  font-family: fantasy;
}
